alembic==1.18.4
blinker==1.9.0
certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
Flask==3.1.3
flask-cors==6.0.2
flask-marshmallow==1.5.0
Flask-Migrate==4.1.0
Flask-SQLAlchemy==3.1.1
idna==3.16
itsdangerous==2.2.0
Jinja2==3.1.6
Mako==1.3.12
MarkupSafe==3.0.3
marshmallow==4.3.0
marshmallow-sqlalchemy==1.5.0
python-dotenv==1.2.2
requests==2.34.2
SQLAlchemy==2.0.49
typing_extensions==4.15.0
urllib3==2.7.0
Werkzeug==3.1.8
openai==1.61.0
gunicorn==23.0.0
gevent==24.11.1
